  .category {
      width: 100%;
      // border: solid 1px;

      h2 {
        text-align: center;
        margin: auto;
        font-family: fantasy;
      }
  }
  .skill-tile {
    display: inline-block;
    border: solid 4px;
    // width: 64px;
    padding: 3px 0px;
    text-align: center;
    margin: 5px;
    // background-image: radial-gradient(#424242 0%, #141414 80%);
    // background-position: -5px -10px;
    border: none!important;
    &>* {
      font-family: monospace;
    }
    
    .fab {
      font-size: 51px;
    }
    .skill-level {
      display: grid;
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      color: black;
      &::after {
        font-size: 12px;
        font-weight: normal;
      }
    }
    &.mastery {
      border-image: radial-gradient(orange 50%, brown 90%) 1 1%;
      
      >.skill-level::after {
        content: '(Mastery)';
        color: darkorange;
      }
    }
    &.expert {
      border-image: radial-gradient(#b901c6 50%, #39003d 90%) 1 1%;
      >.skill-level::after {
        content: '(Expert)';
        color: purple;
      }
    }
    &.proficient {
      border-image: radial-gradient(#1119ff 50%, #060966 90%) 1 1%;
      >.skill-level::after {
        content: '(Proficient)';
        color: blue;
      }
    }
    &.competent {
      border-image: radial-gradient(#00ef4a 50%, #00661f 90%) 1 1%;
      >.skill-level::after {
        content: '(Competent)';
        color: green;
      }
    }
    &.novice {
      border-image: radial-gradient(white 50%, gray 90%) 1 1%;
      >.skill-level::after {
        content: '(Novice)';
        color: grey;
      }
    }
  }