@import '~react-md/src/scss/react-md';

$md-light-theme: true;
$darkTransparent: rgba(0,0,0,0.3);
$md-primary-color: $darkTransparent;
$md-secondary-color: $md-green-700;
$md-tertiary-color: $md-grey-900;

// .main-container,
// .main-content,
.darker-background {
    background-color: $md-tertiary-color;
}

.main-content {
    margin-top: 0;
    min-height: 100vh;
    padding-top: 64px;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}

.md-card {
    z-index: 1;
    // background-color: $darkTransparent;
}

.dg {
    z-index: 9999;
    margin-top: 150px;
}